/* SERVICIOS */

.seccion_servicios {
    display: flex;
    flex-wrap: wrap;
}

.servicios {
    width: 50%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.servicios_call {
    width: 50%;
}

.servicios_call img {
    position: relative;
    top: 40%;
    left: 30%;
    width: 50%;
}

.acordeon {
    width: 90%;
    max-width: 48vw;
    padding: 2rem;
    color: aliceblue;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: rgb(10, 11, 20);
}

.acordeon .bloque {
    margin: 0 0 1rem;
    /* padding: 1rem; */
    color: aliceblue;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: rgb(10, 11, 20);
}

.acordeon .h2 {
    margin: 0 0 1rem;
    padding: 10px;
    color: aliceblue;
    font-size: .9rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: blue 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

.acordeon .h2:hover {
    color: aliceblue;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: rgb(15, 22, 46);
    box-shadow: cornflowerblue 0 0 8px;
}

.acordeon .h2:active {
    background-color: rgb(31, 47, 99);
    box-shadow: cornflowerblue 0 0 18px;
}

.acordeon .contenido {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenido {
    height: 4rem;
    color: aliceblue;
}


/* ///////// */

@media screen and (max-width: 450px) {
    .seccion_servicios,
    .servicios {
        width: 100%;
    }
    .servicios_call,
    .servicios_call img {
        display: none;
    }
    .acordeon {
        width: 100vw;
        max-width: 95vw;
        margin: 10px auto;
    }
    .acordeon .bloque.activo .contenido {
        height: 6rem;
    }
}